---
import Base from '../layouts/Base.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Philosophy from '../components/Philosophy.astro';
import Features from '../components/Features.astro';
import Demo from '../components/Demo.astro';
import Commands from '../components/Commands.astro';
import Install from '../components/Install.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Navbar />
  <main>
    <Hero />
    <Philosophy />
    <Features />
    <Demo />
    <Commands />
    <Install />
  </main>
  <Footer />
</Base>
